/* MOBILE */
@media (max-width: 600px) {
    .nav-bar-main {
        height: 6%;
    }
    .nav-logo {
        width: auto;
        text-align: center;
    }
    .nav-logo img {
        height: 35px;
        max-height: 35px;
    }
    .menu-icon {
        display: flex !important;
    }
    .nav-subwebsites {
        display: none !important;
    }
    .leaflet-control-attribution {
        font-size: 12px !important;
        padding: 1px !important;
    }
    .r-clock {
        display: none;
    }
}
/* DESKTOP */
@media (min-width: 601px) {
    .l-clock {
        display: none;
    }
}
@media (max-height: 1150px) {
    .nav-logo {
        height: 30px;
        text-align: center;
    }
    .nav-logo img {
        height: 30px;
        max-height: 30px;
    }
}
/* WHEN CONFLICT */
@media (max-width: 309px) {

    .leaflet-bottom {
        display: none;
    }
}