:root {
    --border-color: #98720a;
    --border-color-dark: #340781;
    --dimmed-white: rgb(161, 154, 154);
    --border-size: 4px;
    --deafult-darkmode: #292828;
    --white-color: #dddad5;
    --white-on-hover: #ffffff;
    --link-on-hover: rgb(42, 130, 224);
    --dark-link-on-hover: rgb(28, 111, 199);
    --close-btn-on-hover: rgb(166, 97, 239);
    --bug-report-bg: #481961;
    --dark-bg: rgba(14, 14, 14, 0.7);

    --scroll-bg: #212121;
    --scroll-handle: #757575;
    --scroll-handle-hover: #212121;

    --font-rubik: "Rubik", monospace;
    --font-lato: "Lato", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
    --font-montserrat: "Montserrat", sans-serif;

    --event-box-active-border: 5px solid rgba(35, 188, 35, 0.797);
    --sidebox-background: #1b1d1f;
    --event-box-background: #252829;
    --nav-bar-background: #352c45;
    --ls-popup-btn-bg: #9a5e04;
    --cd-popup-btn-bg: #7939ce;
    --cd-popup-btn-bg-dark: #510ea9;
    --popups-box-shadow: 0 0 10px rgb(52, 54, 53);
    --events-custom-popup-bg: #61573d;
    --precise-event-popup-overlay-bg: rgba(0, 0, 0, 0.914);
    --sidebar-bg: rgba(0, 0, 0, 0.558);
    --animation-soft-blue: rgb(83, 149, 220);
    --top-right-stats-grayed: rgb(136, 131, 131);
    --event-box-icaos-color: rgb(74, 237, 167);
    --bottom-bar-background: rgb(13, 13, 13);
    --plane-info-background: #0f0f0f;
    --active: rgb(167, 110, 232);
    --leaflet-attribution-color: #c5c4c4ac;
    --leaflet-attribution-color-darkened: rgba(138, 138, 138, 0.5);
    --line-separators-plane-info-color: #808080;
    --hamburger-menu-background: #6a578a;
}
