::-webkit-scrollbar {
    width: 10px;}
::-webkit-scrollbar-track {
    background: var( --scroll-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-handle);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-handle-hover);
}