:root {
    --bottom-bar-animation-duration: 0.15s;
}

.bottom-filter-bar {
    position: fixed;
    bottom: 15px;
    width: 330px;
    border-radius: 2rem;
    height: 50px;
    background-color: var(--bottom-bar-background);
    left: 50%;
    display: flex;
    justify-content: center;
    z-index: 400;
    transform: translateX(-50%);
}

.bottom-filter-box {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bfb-content {
    margin: 0 15px;
    color: #fff;
}

.bottom-filter-icon-box {
    height: 100%;
    width: 35px;
    cursor: pointer;
}

.bottom-filter-icon-box:hover {
    background-color: #ff0000;
}

.bottom-filter-box div span i {
    transition:
        transform var(--bottom-bar-animation-duration),
        color var(--bottom-bar-animation-duration);
}

.bottom-filter-box div span i:hover {
    transform: scale(1.5);
    color: rgb(29, 139, 212);
}

.bottom-filter-box div span i:active {
    transform: scale(1.3);
    color: rgb(29, 212, 93);
}

.bottom-tower-image {
    transition: all var(--bottom-bar-animation-duration) ease-in-out;
}
