.bottom-filter-bar {
    position: fixed;
    bottom: 15px;
    width: 330px;
    border-radius: 2rem;
    height: 50px;
    background-color: var(--bottom-bar-background);
    left: 50%;
    display: flex;
    justify-content: center;
    z-index: 400;
    transform: translateX(-50%);
}
.bottom-filter-box {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.bfb-content {
    margin: 0 15px;
    color: #fff;
}
.bottom-filter-icon-box {
    height: 100%;
    width: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.bottom-filter-text-box {
    height: 100%;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

.bottom-filter-icon-box:hover,
.bottom-filter-text-box:hover {
    background-color: #ff0000;
}

.bottom-filter-icon-box i,
.bottom-filter-text-box span {
    font-family: var(--font-montserrat);
}

.b-f-b-first {
    top: 500px;
}
/* 
.b-f-b-first:hover,
.b-f-b-middle:hover,
.b-f-b-last:hover {
    transition: all 0.4s;
    font-size: 30px;
    color: #339ed4;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(200deg);
} */

.bottom-filter-box div span .icon {
    transition:
        transform 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.bottom-filter-box div span .icon:hover {
    transform: scale(1.5) translate(-50%, -50%);
    color: blue;
}
