.atc-map-content-boundary-text-map {
    color: var(--white-color);
    /* removed custom font because it caused weird font change on boundary hover (only on firefox i guess, but still...) */
    font-family: /*"Kode Mono",*/ monospace;
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-align: center;
}

.leaflet-popup-tip {
    display: none;
}
.leaflet-popup-content-wrapper {
    background-color: rgb(43, 45, 45);
    color: var(--white-color);
    padding: 3px 0 3px 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    font-weight: 800;
    margin-inline: 15px;
}
