.plane-info {
    position: fixed;
    top: 6%;
    margin: 14px;
    border-radius: 1.2rem;
    left: 0;
    height: 20%;
    width: 20%;
    background-color: var(--plane-info-background);
}
.airplane-map-marker-content {
    pointer-events: none;
}
.teleport-animation {
    transition: transform 2s ease-out, width 2s ease-out, height 2s ease-out;
    transform: scale(2);
    width: 40px;
    height: 40px;
}