#this file
.gitignore

# Idea stuff
.idea/

#webpack
webpack.config.js

#package
package.json

#vscode 
.vscode/
.vs/

#packages
src/packages
package-lock.json
node_modules

#temp
.tmp.driveupload/


#self text formatting instructions
one-lining/

#dev only
script/console-functions.js

#prettier
.prettierignore

#not yet ready
/templates/base/
download/
thanks.txt


