html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

:root {
    --border-color: #c9970c;
    --border-color-dark: #4008a1;
    --dimmed-white: rgb(161, 154, 154);
    --border-size: 4px;
    --deafult-darkmode: #333;
    --white-color: rgb(241, 233, 233);
    --bug-report-bg: #552170;
    --dark-bg: rgba(14, 14, 14, 0.7);
}

.leaflet-bottom {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.leaflet-control-attribution {
    background: var(--dark-bg) !important;
    color: var(--white-color);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 180%;
    text-align: right;
}

.leaflet-control-attribution a {
    color: #0d9fd9;
}

.leaflet-container {
    background: var(--deafult-darkmode);
}

#map {
    height: calc(100vh - 10%);
    width: 100vw;
}

/* .report-div {
    border: solid var(--dimmed-white);
    position: relative;
    color: var(--white-color);
    z-index: 1006;
    cursor: pointer;
    background-color: var(--bug-report-bg);
    padding: 1% 7%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 130%;
} */

.centered {
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3%;
    z-index: 1005;
}

@media (max-width: 309px) {
    .centered {
        display: none;
    }

    .leaflet-bottom {
        display: none;
    }
}

.bug-rep-p {
    text-transform: capitalize;
    /* font-weight: 600; */
}

.btn {
    height: 70px;
    width: 150px;
    margin-top: 5px;
}

.btn-in {
    border: var(--border-size) solid var(--border-color-dark);
    font-size: max(15px);
    /* font-weight: 900; */
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.btn-in:active {
    cursor: move;
}
.options {
    flex-direction: column;
    align-items: center; /* Align text horizontally */
    justify-content: center; /* Align text vertically */
    color: var(--white-color);
    z-index: 1010;
    position:absolute;
    left: 100%;
    width: auto;
    max-width: 300px;
    height: 70px; /* Set height to match the btn div */
    margin-left: 2%;
    border-radius: 10%;
    padding: 5px;
    background-color: var(--deafult-darkmode);
    display: flex;
}

.layer-options {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.options-provider-text-left {
    margin-right: 10px;
    margin-bottom: 5px;
}

.btn-in:hover + .options {
    display: flex;
}

.btn-container {
    display: inline-flex;
    align-items: center;
    margin-top: 2%;
}

.btn button {
    color: var(--white-color);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: url('https://mt3.google.com/vt?lyrs=s&z=0&y=0&x=0');
}