html
  head
  body
    .rectangle-parent
      .frame-child
      .top
        .close-button x
        .update-time.p1 Updated at 19:23
        .flight.f-callsign RYR1QY
        .flight.f-airline !!!
        img.airline-logo.p1(alt='Airline Logo' width='150px' he='' src='/src/img/airline_logos/fr_logo.png')
      .dep-arv
        .main-icaos-div.left-icaos-div
          span.content-icaos
            p#departureIcao.d-a-flight-icaos
        .d-a-departure
          // LONDON
        .main-icaos-div.right-icaos-div
          span.content-icaos
            p#arrivalIcao.d-a-flight-icaos
        .d-a-arrival
          // VILNIUS
        .plane-icon-centered-circle
          .dep-arv-centered-plane
            i.fa.fa-plane
        .dep-arv-time.dep-time 16:20
        .no-flight-plan-warning.p1 No flight plan
        .dep-arv-time.arv-time 21:00
      .graphical-plane-path
        .airplane-path-bg
        .airplane-path
        .graph-path-plane-icon.p1
          i.fa.fa-plane
        .graph-path-departure-time.p1 1,208 km, 1:26 ago
        .graph-path-arrival-time.p1 532 km, in 00:45
      .aircraft-details
        .title-aircraft-details-aircraft.p1 Aircraft
        .aircraft-details-aircraft-name.p1 Boeing 737-800 (B738)
        .title-aircraft-details-aircraft-registration.p1 Country of reg.
        .aircraft-details-aircraft-registration.p1 EI-DLX
        .title-aircraft-details-aircraft-registration-country.p1 Registration
        img.aircraft-details-aircraft-registration-country-flag.p1(alt='Country Flag' src='/src/img/flags/ie_flag.png' title='Ireland')
        .aircraft-details-aircraft-registration-country.p1 Ireland
      .live-flight-details
        .title-flight-data-altitude.p1 Altitude
        .flight-data-altitude.p1
        .title-flight-data-speed.justify.p1 Speed
        .flight-data-speed.justify.p1(title='Groundspeed')
        .title-flight-data-heading.p1 Heading
        .flight-data-heading.justify.p1
        .title-flight-data-squawk.p1.m-0 Squawk
        .flight-data-squawk
        .title-flight-data-rules.justify.p1 Flight rules
        .flight-data-rules.justify.p1
        .title-flight-data-altimeter.p1 Altimeter
        .live-flight-details-altimeter-div.m-0.p1
          span.live-flight-details-altimeter
            p.m-0.flight-data-altimeter-normal 1019
            p.m-0.flight-data-altimeter-us 30.08
      .text-details
        .title-text-details-remarks.p1 Remarks
        .text-details-remarks.p1 DOF/240115 /V/
        .title-text-details-route.p1 Route
        .text-details-container-route.p1
          #textDetailsRoute.text-details-route.p1
            span
              | Lorem ipsum dolor sit amet consectetur
              | adipisicing elit. Minima quisquam culpa voluptate non qui eum
              | voluptates ipsa aut, sapiente totam tempore sint quasi nesciunt incidunt esse et impedit
              | consequatur!
              | Facilis distinctio explicabo eaque, quam temporibus aliquam? Architecto ducimus nis
              | sapiente!
      .line-separators
        .line-separators-position-box-height.line-separators-top.line-separator-0
        .line-separators-position-box-height.line-separators-right.line-separator-1
        .line-separators-position-box-height.line-separators-top.line-separator-2
        .line-separators-position-box-height.line-separators-top.line-separator-3
        .line-separators-position-box-height.line-separators-top.line-separator-4
        .line-separators-position-box-height.line-separators-top.line-separator-5
        .line-separators-position-box-height.line-separators-top.line-separator-6
        .line-separators-position-box-height.line-separators-top.line-separator-7
    script.
      $('.close-button').on('click', function() {
      $('.rectangle-parent').fadeOut();
      });