<div id="ls-popup-content">
            <div class="ls-popup-content-text">
                <p>This website uses local storage saving to magnify your experience with it.</p>
                <p>The whole idea and implementation is heavily inspired by:</p>
                </div>
                <div class="ls-popup-content-links">
                    <a href="https://map.vatsim.net/" target="_blank">SimAware</a> <!--https://simaware.ca-->
                    <a href="https://vatsim.net/events" target="_blank">Events subpage on VATSIM's website</a>
                    <a href="http://flightradar24.com/" target="_blank">FlightRadar24</a>
                    <a href="https://www.simflightstracker.com/" target="_blank">Sim Flights Tracker</a>
                </div>
    <button id="ls-popup-btn" onclick="clsPopUp()">Understood</button>
        </div>