<div class="cd-popup-content">
    <div class="cd-popup-content-text">
        <p>
            Whoops! Can't access your browser's local storage.
            <a class="cd-popup-links-content cd-popup-links-no-biggie" href="https://dictionary.cambridge.org/dictionary/english/no-biggie" target="_blank">
                No biggie
            </a>
            though, some features just won't work. Keep on using it!
        </p>
        <p class="cd-popup-links">
            <a class="cd-popup-links-content cd-popup-links-animation" href="/disabled-features" target="_blank">Learn which</a>
            and
            <a
                class="cd-popup-links-content cd-popup-links-animation"
                href="https://www.bublup.com/support/enable-cookies-local-storage-in-your-browser/"
                target="_blank">
                how to fix it.
            </a>
        </p>
    </div>
    <button id="cd-popup-btn" onclick="clsCdPopUp()">Cool! Let's use it anyway</button>
</div>
