        html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        font-family: 'Rubik', sans-serif;
    }
    
    .d-fx {
        display: flex;
    }

    #map {
        height: calc(100vh - 10%);
        width: 100vw;
    }

    .fullscreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    .main-content {
        width: 100%;
        z-index: 1001;
    }
    
    .hamburger-menu {
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }

    .menu-icon {
        display: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
        top: 10px;
        right: 10px; 
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: wheat;
        margin: 4px 0;
        transition: 0.4s;
    }

    .menu-options {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4008a1;
        padding: 20px; 
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1100;
        width: 200px; 
        height: 170px;
        vertical-align: middle;
    }

    .menu-options ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-options li {
        color: white;
        cursor: pointer;
        padding: 8px;
        transition: 0.3s;
    }

    .menu-options li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-logo-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4008a1;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1100;
    }
    .nav-logo-popup-main {
        text-align: center;
    }
    .nav-logo-popup-text {
        color: white;
        margin-bottom: 10px;
    }
    /* .clock {
        font-weight: 6  00;
    } */
    /* .r-clock {
    
    } */