/* Events too small screen */
@media (max-width: 1150px) {
    .event-sidebox {
        width: 450px;
    }
    .nav-bar-main {
        height: 6%;
    }
    .nav-logo img {
        height: 35px;
    }
    .menu-icon {
        display: flex !important;
    }
    .nav-subwebsites {
        display: none !important;
    }
    .leaflet-control-attribution {
        font-size: 12px !important;
        padding: 1px !important;
    }
    .l-clock {
        display: none;
    } 
    .center {
        margin-left: 60px;
    }
    
}
@media (min-width: 1150px) {
    body.show-sidebar {
        overflow: visible !important;
    }
    
    .event-sidebox {
        transform: translateX(0) !important;
    }
    .clocks {
        display: flex;
    }
    .nav-subwebsites {
        width: 0 !important;
    }
}
@media (max-width: 750px) {
    .clocks {
        text-align: center;
        font-size: 1rem !important;
    }
    .event-sidebox {
        width: 300px;
    }
    .nav-logo-subtext {
        margin-left: 15%;
    }
    .event-box-text {
        position: relative;
    }
    .event-box-title {
        position: sticky;
        top: 0;
        z-index: 1;
        font-weight: 700;
        margin-bottom: 0;
    }
    .event-box-shortDescription {
        display: none;
    }
    .event-box-icaos {
        overflow: hidden;
        text-overflow: ellipsis;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        z-index: 1;
        height: 25px;
        margin-bottom: 0;
    }
    .sidebar-category-name {
        font-size: 1.2rem;
    }
    .ls-popup-content-text {
        font-size: 1.2rem !important;
    }
    .ls-popup-content-links a {
        font-size: 1.2rem !important;
    }
    #ls-popup-btn {
        font-size: 1.2rem !important;
    }
    .event-boxes-container:last-child, .event-category:last-child {
        height: 40dvh;
    }
    .top-right-stats {
        display: none !important;
    }
    .bottom-right-search-bar {
        bottom: 20px !important; 
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .bottom-filter-bar {
        bottom: 80px !important;
        width: 330px;
        border-radius: 2rem;
        height: 50px;
        background-color: var(--bottom-bar-background);
    }
}

/* Nedeed media from main */
@media(max-height: 1150px) {
    .nav-logo {
        height: 30px;
    }
}
@media(max-width: 389px) {
    .clocks {
        font-size: 0.8rem !important;
    }
}