.custom-event-popup .leaflet-popup-tip,
.custom-event-popup .leaflet-popup-content-wrapper {
    background: var(--events-custom-popup-bg);
    color: #ffffff;
    text-align: center;
    user-select: none;
}