.event-sidebox {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    left: 0;
    top: 4.5%;
    z-index: 1200;
    background-color: #12381c;
    width: 685px;
    height: auto;
    overflow-y: auto;
    min-height: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 20px;
}

.event-box {
    width: 100%;
    overflow: hidden;
}

.single-event-box {
    color: var(--white-color);
    margin: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #542cab;
    display: grid;
    height: 130px;
    border-radius: 2%;
    position: relative;
    margin-bottom: 10px;
}

.last-box {
    margin-bottom: 80px;
}

.event-box-text {
    margin: 2%;
    background: #542cab;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.event-box-title {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-box-shortDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    line-height: 1.05;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.event-box-icaos {
    margin-top: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    align-items: center;
    height: 25px;
    width: 100%;
    overflow: hidden;
}
