.event-sidebox {
    font-family: 'Roboto Mono', monospace;
    /* Remove display: flex */
    position: absolute;
    left: 0;
    top: 4.5%;
    z-index: 1200;
    background-color: #12381c;
    width: 685px;
    height: auto;
    /* Add overflow property to enable vertical scrolling */
    overflow-y: auto;
    /* Add a max-height to limit the height before scrolling */
    height: 100%;
    justify-content: center;
}


.event-box {
    width: 100%;
    overflow: hidden;
}

.single-event-box {
    color: var(--white-color);
    margin: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #542cab;
    /* width: 650px; */
    display: grid;
    height: 130px;
    border-radius: 2%;
    position: relative;
    margin-bottom: 20px;
}

.single-event-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #542cab;
    z-index: -1;
    border-radius: inherit;
}

.event-box-text {
    margin: 2%;
    background: #542cab;
    border-radius: inherit;
    display: flex; /* Set display to flex */
    flex-direction: column; /* Stack children vertically */
}

.event-box-title {
    font-weight: 700;
}

.event-box-shortDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 3%;
}

.event-box-icaos {
    white-space: nowrap;
    min-height: 40px; /* Set a minimum height for the airports div */
    width: 100%;
    overflow: hidden; /* Add overflow to hide excess content if needed */
}