.custom-event-popup .leaflet-popup-tip,
.custom-event-popup .leaflet-popup-content-wrapper {
    background: var(--events-custom-popup-bg);
    color: #ffffff;
    text-align: center;
}
/* .precise-event-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2600;
}

.precise-event-popup-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background: #fff;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.precise-event-content {
    display: flex;
    height: 100%;
}

.precise-event-image  {
    width: 40%;
    object-fit: cover;
}

.precise-event-text {
    padding: 20px;
}

.precise-event-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
} */
