.precise-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2400;
    background: #564167;
    color: rgb(228, 238, 248);
    border-radius: 1.2rem;
    padding: 45px;
    font-family: var(--font-rubik);
}

.precise-popup-content h2 {
    font-size: 48px;
    margin: 0;
 }
 
 .precise-popup-content p {
    margin-bottom: 10px;
 }
 
 .precise-popup-content img {
    height: 50%;
    width: 50.35%;
    border-radius: 0.5rem;
    margin-right: 2.5%;
 }
 
 .close-btn {
    position:absolute; 
    top:-10px; 
    right:-10px; 
 }
 
 .related-events {
     margin-top: 20px;
 }
 
 .related-events h3 {
     font-size: 18px;
     margin-bottom: 10px;
 }
 
 .related-events ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 .related-events li {
     margin-bottom: 5px;
 }
 
 .related-events a {
     color: white;
     text-decoration: none;
 }

.precise-close-btn {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    fill: var(--white-color);
    top: 0;
    right: 13px;
    font-size: 2rem;
    cursor: pointer;
}

.precise-overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--precise-event-popup-overlay-bg);
    display: none;
    z-index: 2399;
}
.precise-popup-content-inline {
    display: flex;
}
.precise-popup-description {
    margin: auto;
    flex: 1;
}