.leaflet-bottom {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.leaflet-control-attribution {
    background: #00000000 !important;
    color: var(--white-color) !important;
    padding: 3px;
    border-radius: 15px;
    font-size: 12px;
    /* height: 5px; */
    top: 60px;
    width: 100%;
    text-wrap: nowrap;
    text-align: right;
    font-family: var(--font-roboto);
    letter-spacing: -0.05em;
}

.leaflet-control-attribution a {
    color: var(--white-color);
}

.leaflet-container {
    background: var(--deafult-darkmode);
}