{{!-- This is a Handlebars comment --}}
        <div class="single-event-box" id="single-event-box">
            <div class="event-box-text">
                <div class="event-box-title">
                    <span>{{name}}</span>
                </div>
                <div class="event-box-shortDescription">
                    <span>{{shortDescription}}</span>
                </div>
                <div class="event-box-icaos">
                    <span>{{#each airports}}{{icao}}, {{/each}}</span>
                </div>
            </div>
        </div>