<!-- eventbox.hbs -->
    <div class="event-box">
    <div class="title-hbs">
        <h2 class="">{{name}}</h2>
    </div>
    <div class="main-content-event-box">
        <p>ICAO: {{#each airports}}{{icao}} {{/each}}</p>
    </div>
    </div>