/* Events too small screen */
@media (max-width: 1150px) {
    .event-sidebox {
        width: 450px;
    }
    .nav-bar-main {
        height: 6%;
    }
    .nav-logo img {
        height: 35px;
    }
    .menu-icon {
        display: flex !important;
    }
    .nav-subwebsites {
        display: none !important;
    }
    .leaflet-control-attribution {
        font-size: 12px !important;
        padding: 1px !important;
    }
    .l-clock {
        display: none;
    } 
    .center {
        margin-left: 60px;
    }
    
}
@media (min-width: 1150px) {
    .r-clock {
        display: flex;
    }
    .l-clock {
        display: none;
    }
    .nav-subwebsites {
        width: 0 !important;
    }
}
@media (max-width: 750px) {
    .event-sidebox {
        width: 300px;
    }
    /* .event-box-shortDescription {
        padding-left: 5.5px;
    } */
    .nav-logo-subtext {
        margin-left: 15%;
    }
    .event-box-text {
        position: relative;
    }
    .single-event-box {
        height: fit-content;
        min-height: 90px;
    }
    .event-box-title {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: #542cab;
        z-index: 1;
        font-weight: 700;
        margin-bottom: 0;
    }
    .event-box-shortDescription {
        display: none;
    }
    .event-box-icaos {
        overflow: hidden;
        text-overflow: ellipsis;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background: #542cab;
        z-index: 1;
        height: 25px;
        margin-top: auto;
        margin-bottom: 0;
    }
}





/* Nedeed media from main */
@media(max-height: 1100px) {
    .nav-logo {
        height: 30px;
    }
}
/* WHEN CONFLICT */
@media (max-width: 309px) {

    .leaflet-bottom {
        display: none;
    }
}